# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
venv/
env/

# Database
*.db
*.sqlite

# User uploads
static/uploads/*
!static/uploads/.gitkeep

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db